
.paypal-settings-container .paypal-settings-container--headline {
    background: none;
    margin: 20px;
    font-size: 20px;
    color: #23527c;
}
.paypal-settings-form-errors-container{

    margin: 20px 0;
}

.paypal-settings-form-errors-container h3{
    margin-left: 20px;
    color: #dc322f;
}
.paypal-settings-form-errors-container li{
    font-size: 12px;
    color: #dc322f;
}

.paypal-settings-form-errors-container ul {
    margin-left:35px;
}

.paypal-settings-form-errors-container ul li {
    list-style: disc;
    padding: 0;
}
